.AddFarmer {
}

.AddFarmer form {
	/* background-color: rgb(90, 159, 219); */
	width: 75%;
	margin-left: 10%;
	margin-top: 5%;
}

.AddFarmer form h2 {
	text-align: center;
    font-size: 2.4rem;
}

.AddFarmer form .basic-details {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	font-size: 1.2rem;
	margin-top: 2%;
	font-family: "Poppins", sans-serif;
	font-style: normal;
}

.AddFarmer form .basic-details label {
	text-align: left;

	margin-bottom: 1%;
}

.AddFarmer form .basic-details input {
	width: 37%;
	height: 2.1rem;
	border: 1px solid rgba(0, 0, 0, 0.219);
	border-radius: 5px;
	padding-left: 1%;
}

.AddFarmer form .right {
    position: relative;
    left: 450px;
    bottom: 550px;

}

.AddFarmer form .right .basic-details input {
    opacity: 0;
}

