.AddProducts {
}

.AddProducts form {
	/* background-color: rgb(90, 159, 219); */
	width: 75%;
	height: auto;
	margin-left: 10%;
	margin-top: 5%;
}

.AddProducts form h2 {
	text-align: center;
	font-size: 2.4rem;
}

.AddProducts form .basic-details {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	font-size: 1.2rem;
	margin-top: 2%;
	font-family: "Poppins", sans-serif;
	font-style: normal;
}

.AddProducts form .basic-details label {
	text-align: left;
	margin-bottom: 1%;
}

.AddProducts form .basic-details input,
.AddProducts form .basic-details select {
	width: 37%;
	height: 2.1rem;
	border: 1px solid rgba(0, 0, 0, 0.219);
	border-radius: 5px;
	padding-left: 1%;
}

.AddProducts form .basic-details select {
	width: 38.2%;
	height: 2.2rem;
}

.AddProducts form .right {
	position: absolute;
	right: 15%;
	top: 12.85rem;
}

.AddProducts form .right label {
	width: 100%;
}

.AddProducts form .right img {
	width: 75%;
	cursor: pointer;
}

.AddProducts form .right .basic-details input {
	opacity: 0;
}

.AddProducts form button {
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: #1d371c;
	width: 18rem;
	height: 2.6rem;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 450;
}
