.adminVehicleProfile {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 4rem;
	padding-bottom: 4rem;
	min-height: 100vh;
	position: relative;
	background-color: #aaacac33;
}

.adminVehicleProfile h3 {
	font-size: 1.6rem;
}

.adminVehicleProfile table {
	border-collapse: collapse;
	width: 95%;
	max-width: 100%;
	margin: 1.5rem auto;
}

.adminVehicleProfile thead {
	background-color: #00b0d9;
	color: #fff;
}

.adminVehicleProfile th,
.adminVehicleProfile td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.adminVehicleProfile td {
	font-weight: 450;
	font-size: 1.2rem;
	color: #252525;
}


.adminVehicleProfile .actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.adminVehicleProfile td.profile-actions {
	display: flex;
	align-items: center;
	/* margin-top: 20px; */
	/* margin-left: 6%; */
}

.adminVehicleProfile  td.profile-actions button {
	vertical-align: center;
	padding: 0.75rem;
	border: none;
	border-radius: 5px;
	background-color: #d9534f;
	color: #fff;
	font-weight: 550;
	cursor: pointer;
	width: 8.4rem;
	font-size: 0.85rem;
}

.adminVehicleProfile td.profile-actions button:nth-child(1) {
	background-color: #0eb424;
	/* width: 6.4rem; */
}

.adminVehicleProfile td.profile-actions button:nth-child(1):hover {
	background-color: #068d18;
}

.adminVehicleProfile .profile-actions button:hover {
	background-color: #c9302c;
}

.adminVehicleProfile .profile-actions td:nth-child(2) {
	/* margin-left: 35%; */
}

.adminVehicleProfile .profile-actions button a {
	text-decoration: none;
	color: #ffffff;
}
