.clientsPage {
	text-align: left !important;
	display: flex;
}

.clientsPage .right-side .main-header {
	margin: 5% 12% 0 12%;
	font-size: 1.8rem;
}



.clientsPage a.addclients{
	border: none;
	background-color: #ffffff00;
	margin-left: 72%;
	font-size: 1.2rem;
	width: 20%;
	height: auto;
	font-weight: 530;
	text-decoration: none;
	color: #1d371c;
}

.clientsPage a.addclients i {
	margin-left: 15px;
	border-radius: 50%;
	background-color: #1d371c;
	padding: 0.6%;
	color: #ffffff;
	font-size: 0.8rem;
}

.clientsPage .right-side table {
	margin-top: 5%;
	width: 100%;
	/* border-collapse: separate; */
	/* border-spacing: 10px; */
	margin-left: 2%;
}

.clientsPage .right-side table .users {
	height: 76%;
	border-width: 15px;
	margin-left: 12%;
}

.clientsPage .right-side .users .user {
	border: 2px solid #a3a3a32f;
	padding: 1%;
	border-radius: 65px;
	margin-bottom: 2%;
}

.clientsPage .right-side .users .user img {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 1px solid #0000003b;
	padding: 0.6%;
}

.clientsPage .right-side .users .user .details {
	margin-left: 8%;
	display: flex;
	justify-content: space-between;
}

.clientsPage .right-side .users .user .details h2 {
	font-size: 1.1rem;
	color: #969696;
	margin-top: -4.25%;
}

.clientsPage .right-side .users .user button {
	display: block;
	margin-top: -5%;
	margin-right: 5%;
	margin-left: 12rem;
	width: 16%;
	height: 2.2rem;
	border: none;
	border-radius: 15px;
	background-color: #1d371c;
	color: #ffffff;
}

.clientsPage .right-side .users .user button:hover {
	background-color: #122511;
}
/* 
.clientsPage .right-side .users .user .details p {
    margin-top: -6%;
}  */
