.EditFarmerPage {
	display: flex;
}
.EditFarmer {
	width: 100%;
}

.EditFarmer {
	/* background-color: rgb(90, 159, 219); */
	width: 75%;
	height: auto;
	margin-left: 10%;
	margin-top: 5%;
}

.EditFarmer h2 {
	text-align: center;
	font-size: 2.4rem;
}

table {
	width: 100%;
}

.EditFarmer .basic-details {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	font-size: 1.2rem;
	margin-top: 2%;
	font-family: "Poppins", sans-serif;
	font-style: normal;
}

.EditFarmer .basic-details label {
	text-align: left;
	margin-bottom: 1%;
}

.EditFarmer .basic-details input {
	width: 37%;
	height: 2.1rem;
	border: 1px solid rgba(0, 0, 0, 0.219);
	border-radius: 5px;
	padding-left: 1%;
}

.EditFarmer .right {
	position: absolute;
	right: 15%;
	top: 30%;
}

.EditFarmer .right img {
	width: 75%;
}

.EditFarmer .right .basic-details input {
	opacity: 0;
}

.EditFarmer button {
	margin-top: 5%;
	margin-bottom: 10%;
	background-color: #1d371c;
	width: 18rem;
	height: 2.6rem;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 450;
}
