.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D371C;
    height: 5.5rem;
    padding: 0 4% 0 0;
    width: auto;
    z-index: 99;
  }

  .header p {
    margin-left: 2%;
    font-size: 1.8rem;
    font-weight: 450;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
  }

  
 .header .header-icons {
    display: flex;
    align-items: center;
  }

  .header .header-icons a {
    text-decoration: none;
    margin: 18%;
  }
  /*  */
  .header .header-icons i {
    object-fit: contain;
    color: #ffffff;
    /* background-color: #51e04c; */
    font-size: 1.4rem;
    
    
  }

  .header .header-icons i:nth-child(1) {
    display: block;
    
  }
