.left-sidebar {
	width: 12%;
	background-color: #ffffff;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px 0px #cccccc;
	position: relative;
	height: auto;
	/* background-color: #1d371c; */
}

.left-sidebar .header-logo {
	width: 40%;
	margin-left: 30%;
}

.left-sidebar .icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 1.5rem;
	/* background-color: #000000; */
	z-index: -1;
	
}

.left-sidebar .icon img {
	width: 2.5rem;
	height: auto;
	margin-bottom: 0.5rem;
	/* background-color: #1d371c; */
	margin-top: 1rem;
}

/* .left-sidebar .icon img */

.left-sidebar .icon:hover {
	background-color: #d9d9d9;
}


.left-sidebar .icon p {
	margin: 0;
	font-size: 1.2rem;
	color: #1d371c;
	font-weight: 500;
}


.left-sidebar a:hover {
	color: #1d371c;
}

.right-side {
	width: 88%;
	height: 100%;
}

.left-sidebar a {
	text-decoration: none;
	color: #000000;
}
