.ProfileFarmer {
	text-align: left;
	width: 100%;
	display: flex;
}

.ProfileFarmer .top {
	/* margin-left: 70%; */
}

.ProfileFarmer .top img {
	margin-left: 43%;
	width: 15%;
	/* display: none; */
}

.ProfileFarmer .top h2 {
	text-align: center;
	font-size: 2.4rem;
	color: #1d371c;
	margin: 0;
}

.ProfileFarmer .top p {
	text-align: center;
	margin-bottom: 15px;
}

.ProfileFarmer .bottom .basic-details {
	/* align-items: center; */
	/* justify-content: left; */
	font-size: 1.2rem;
	margin-top: 2%;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	padding: 0.6rem;
	width: 110%;
}

.ProfileFarmer .bottom .basic-details td {
	width: 100%;
}

.ProfileFarmer .bottom .basic-details label {
	text-align: center;
	margin-bottom: 1%;
	margin-left: 15%;
	width: auto;
}

.ProfileFarmer .bottom .basic-details input {
	position: absolute;
	left: 35rem;
	width: 37%;
	height: 2.1rem;
	border: 1px solid rgba(0, 0, 0, 0.219);
	border-radius: 5px;
	padding-left: 1%;
}

.ProfileFarmer .bottom button[type="submit"] {
	margin-top: 5%;
	margin-bottom: 10%;
	background-color: #1d371c;
	width: 18rem;
	height: 2.6rem;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	font-size: 1.185rem;
	font-weight: 450;
	margin-left: 10rem;
}

.ProfileFarmer .bottom button[type="submit"]:hover {
	background-color: #132912;
}
